<!-- <!DOCTYPE html>
<html>

<head>
  mata(chartset='utf-8')
</head>

<body>
  form(action='upload' method ='post' enctype="multipart/form-data")
  input(type='file' name="userfile")
  input(type='submit')
</body>

</html> -->